
@model IEnumerable<Quiz>
@{
    ViewData["Title"] = "Home Page";
}

<h2>Quiz List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Quiz Name</th>
            <th>Quiz Type</th>
            <th>Time Limit</th>
            <th>Select</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var quiz in Model)
        {
            <tr>
                <td>@quiz.QuizName</td>
                <td>@quiz.QuizType</td>
                <td>@quiz.TimeLimit</td>
               @* <td>@quiz.Question.Count()</td>*@
                <td><a asp-controller="Quiz" asp-action="TakeQuiz" asp-route-id="@quiz.QuizID">TakeQuiz</a></td>
            </tr>
        }
    </tbody>
</table>
@*@model List<QuizApp.Models.Quiz>*@



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
